
<div class="row">
    <a class="col " style="color:#387ef5;">
        Reps
    </a>
    <a class="col "  style="color:#387ef5;">
        Last
    </a>
    <a class="col "  style="color:#387ef5;">
        PR
    </a>
</div>
<div ng-repeat="reps in uniqueRepsHist  track by $index" class="row">
    <a class="col">{{reps}} </a>
    <a class="col"> {{lastList[reps]}} </a>
    <a class="col" ng-if="!lastList[reps]"> 0 </a>
    <a class="col">{{maxList[reps]}} </a>
    <a class="col" ng-if="!maxList[reps]"> 0 </a>
</div>
<div></div>

