<style>.popup { width:300px !important; }</style>
<form>
    <ion-list>
        <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" placeholder="Email" maxlength="20" ng-model="userData.email">
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" placeholder="password" maxlength="20" ng-model="userData.password">
        </label>
    </ion-list>
</form>