<ion-view title="Timer" ng-controller="timercontrol">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios-information-outline" style='font-size: .8em' ng-click="showInfo()">

        </button>

    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-balanced " ng-if= "stateW == 'heroku'" style='font-size: 1.2em' ng-click="emailPop()">
            Like it?
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header padding" >
        <div class="card">

            <!--<div class="item item-divider color-header">-->
            <!--</div>-->
            <div class="row">
                <div class="col-offset-20">
                    <h3 style="font-size: 5.0em; color:#808080;">
                        <timer interval="1000" countdown="seconds1()" finish-callback="finished()" auto-start="false"> {{mminutes}} : {{sseconds}} </timer>
                    </h3>
                </div>
            </div>
            <div class ="row">
                <div class="col-30 col-offest-66" style="margin-left:44%">
                <a style="color:grey;font-size:1.2em" >{{rangeMin.min < 10 ? '0' + rangeMin.min : rangeMin.min}}:</a>
                    <a class="" style="color:grey; font-size:1.2em">{{rangeSec.sec < 10 ? '0' + rangeSec.sec  : rangeSec.sec }}</a>
                </div>
            </div>
            <ion-item>
                <div class="range">
                    <button class="button-icon ion-minus-round timerMinus" ng-click="downOneMin()"></button>
                    <input type="range" ng-model="rangeMin.min" ng-readonly="!startStopFlag"  min="0" max="30" on-release="onRelease()" />
                    <!--<input type="range" ng-model="rangeSec"  min="0" max="59" on-release="onRelease()"  />-->

                    <button class="button-icon ion-plus-round timerPlus"  ng-click="upOneMin()"></button>
                </div>

            <div class="range">
                <button class="button-icon ion-minus-round timerMinus" ng-click="downOneSec()"></button>
                <input type="range" ng-model="rangeSec.sec" ng-readonly="!startStopFlag"  min="0" max="59" on-release="onRelease()" />
                <!--<input type="range" ng-model="rangeSec"  min="0" max="59" on-release="onRelease()" ng-if="!startStopFlag" disabled/>-->
                <button class="button-icon ion-plus-round timerPlus" ng-click="upOneSec()"></button>
            </div>

            <div class="button-bar  liftSearchButtons">
                <a ng-click="timerPreset(30,0)" type="button" class="button button-positive button-clear timerButtonSmall"
                   style="border-left:none;border-top:none;border-bottom:none;">00:30</a>
                <a ng-click="timerPreset(0,1)" type="button" class="button button-positive button-clear timerButtonSmall"
                   style="border-top:none;border-bottom:none;">01:00</a>
                <!--<a ng-class="{'active': reorderFlag == true}" ng-click="reorderFlag = !reorderFlag;" type="button" class="button">Reorder Lifts</a>-->
                <a type="button"
                   class="button button-positive button-clear timerButtonSmall" ng-click="timerPreset(30,1)" style="border-top:none;border-bottom:none;border-right:none;">01:30</a>
                <a type="button"
                   class="button button-positive button-clear timerButtonSmall" ng-click="timerPreset(0,2)" style="border-top:none;border-bottom:none;border-right:none;">02:00</a>
                <a  type="button button-positive button-clear timerButtonSmall"
                    class="button button-positive button-clear timerButtonSmall" ng-click="timerPreset(30,2)" style="border-top:none;border-bottom:none;border-right:none;">02:30</a>
                <a type="button"
                   class="button button-positive button-clear timerButtonSmall" ng-click="timerPreset(0,3)" style="border-top:none;border-bottom:none;border-right:none;">03:00</a>
            </div>
            </ion-item>


            <div class="startStopReset row">
                <div class="col " >
                <button class="button button-clear button-balanced ion ion-ios-play ng-cloak" ng-click="startStop()"   style=" float:left;margin-left:17%;padding-left: 2%; font-size: 3em"
                        ng-class="{'button-balanced ion ion-ios-play':startStopFlag,'button-assertive ion ion-ios-pause':!startStopFlag}" ng-cloak></button>
                <!--<button class="button button-assertive col-40"  ng-click="startStop()" ng-if="!startStopFlag" style="width:45%;float:left;" >Stop</button>-->
                <button class="button button-dark button-clear  ion ion-ios-refresh-outline" ng-click="reset()" type="submit"  value="Reset" style=" float:left;margin-left:10%; font-size: 3em" ></button>
                    <button class="button button-positive button-clear  ion ion-loop" ng-click="cycle()"  ng-class="{'active':loopFlag}"  style="float:left;margin-left:10%; font-size: 3em" ></button>

                </div>
                </div>
            </div>
    </ion-content>
</ion-view>