<ion-view title="Data" ng-controller="chartcontrol" cache-view="true" >
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios-information-outline" style='font-size: .8em' ng-click="showInfo()">

        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-balanced " ng-if= "stateW == 'heroku'" style='font-size: 1.2em' ng-click="emailPop()">
            Like it?
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header has-footer">
        <div ng-if="chartTable" class="card ">
            <div class="item item-divider color-header">
            </div>
            <div class="row">
                <div class="col-40 col-offset-20">
                    <a class=>{{chartTitle}}</a><a ng-if="bodyWtFlag && repsChart.reps">{{ " for " +repsChart.reps + " reps"}}</a>
                </div>
            </div>

            <canvas id="line" class="chart chart-line" data="weightSet" labels="dateSet"
                    legend="true" click="" options="chartOptions"></canvas>
            <div>
                <a>{{firstDate}}</a> <a style="float:right;">{{lastDate}}</a>
            </div>
            <div class="item-input-wrapper">

                <input ng-submit="keyPressed($event.keyCode)" class="col col-33 col-offset-34" type="tel" placeholder="Goal" maxlength="3"
                       ng-model="goalNum.wt.wt">
                <button class="button button-clear" ng-click="updateGoal(repsChart.reps)">Update
                </button>
            </div>
            <div class="button-bar liftSearchButtons" style="padding:0px">
                <a type="button"
                   class="button button-clear timerButtonSmall" ng-class="{'active': spanSelect ==5 }"
                   ng-click="selectTimespan(5)" style="border-top:none;border-bottom:none;border-right:none;">5 wks</a>
                <a type="button"
                   class="button button-clear timerButtonSmall" ng-class="{'active': spanSelect ==10}"
                   ng-click="selectTimespan(10)" style="border-top:none;border-bottom:none;border-right:none;">10
                    wks</a>
                <a type="button button-clear timerButtonSmall"
                   class="button button-clear timerButtonSmall" ng-class="{'active': spanSelect ==20 }"
                   ng-click="selectTimespan(20)" style="border-top:none;border-bottom:none;border-right:none;">20
                    wks</a>
                <a type="button button-clear timerButtonSmall"
                   class="button button-clear timerButtonSmall" ng-class="{'active': !spanSelect }"
                   ng-click="selectTimespan(false)"
                   style="border-top:none;border-bottom:none;border-right:none;">All</a>
            </div>
        </div>
        <div class="card">
            <div ng-if="chartTable ==false" class="item item-divider color-header">
            </div>
            <ion-item class="item item-remove-animate no-padding">
                <div ng-if="chartTable || (bodyWtFlag && !chartTable)" class="liftNameButton">
                    <button class="liftSelectEntry button button-clear button-positive" style="float:left;" ng-click="openModal()">{{liftName}}</button>
                    <button class="liftSelectEntry button button-clear button-positive" ng-click="repPopup($event)" style="float:right;">
                        {{selectedReps}}
                    </button>
                    <!--<a class="liftSelectEntry"  ng-if="liftName != 'Select Lift'">Set Goal</a>-->
                </div>
                <div ng-if="  (!bodyWtFlag && !chartTable)" class="liftNameButton" style="float:left;">
                    <a class="liftSelectEntry" ng-click="openModal()">Body Weight (tap to select lift)</a>
                    <!--<a class="liftSelectEntry"  ng-if="liftName != 'Select Lift'">Set Goal</a>-->
                </div>


            </ion-item>
            <ion-item ng-if="chartTable == false" ng-repeat="lift in dateWeightObjectList | reverse">

                <a>{{lift.date}}</a>
                <a style="float:right">{{lift.wt + " lbs"}}</a>

            </ion-item>
            <ion-item ng-if="chartTable" class="item  item-remove-animate no-padding">
                <div class="row" style="padding:8px ">
                    <a class="col col-offset-25 liftSelectEntry" ng-click="chartBodyWeight()" ng-if="bodyWtFlag">Chart
                        Body Weight</a>
                    <a class="col col-offset-25 chartSwitch" ng-click="chartBodyWeight()" ng-if="!bodyWtFlag">Chart
                        current lift</a>
                </div>
            </ion-item>
        </div>

    </ion-content>
    <ion-footer-bar align-title="left" class="bar-dark tab2">
        <div class="button-bar tab2">
            <a ng-class="{'active': chartTable == true}" ng-click="changeView(true,repsChart.reps)" type="button"
               class="button icon ion-arrow-graph-up-right tab2"
               style="border-top:none;border-bottom:none;border-left:none;font-size: 2.0em;"></a>
            <a ng-class="{'active': chartTable == false}" ng-click="changeView( false,repsChart.reps)" type="button"
               class="button icon ion-ios-list-outline tab2"
               style="border-top:none;border-bottom:none;border-right:none;font-size: 2.0em;"></a>
            <!--<a  ng-click="analytics = !analytics;" ng-class="{'active': analytics == false}"  type="button"-->
               <!--class="button icon ion-ios-lightbulb-outline"-->
               <!--style="border-top:none;border-bottom:none;border-right:none;font-size: 2.0em;"></a>-->
        </div>

    </ion-footer-bar>

</ion-view>