<ion-view title="Data" ng-controller="chartcontrol" cache-view="true">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios-information-outline" style='font-size: .8em'
                ng-click="showInfo()">
        </button>

    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-ios-refresh-outline"
                ng-click="refreshCharts(true)">
        </button>
        <button class="button button-balanced " ng-show="stateW == 'heroku'" style='font-size: 1.2em'
                ng-click="emailPop()">
            Like it?
        </button>

    </ion-nav-buttons>

    <ion-content class="has-header has-footer">
        <div ng-if="chartTable == 0" class="card ">
            <!--<div class="item item-divider color-header">-->
            <!--</div>-->
            <div class="row">
                <div class="col-40 col-offset-20">

                </div>
            </div>
            <div style="min-height:220px;">
                <canvas id="line" class="chart chart-line" data="weightSet" labels="dateSet"
                        legend="true" options="chartOptions"></canvas>
                <div>
                    <a>{{firstDate}}</a> <a style="float:right;">{{lastDate}}</a>
                </div>
            </div>
            <div class="item-input-wrapper">

                <input ng-submit="keyPressed($event.keyCode)" class="col col-33 col-offset-34" type="tel"
                       placeholder="Goal" maxlength="3"
                       ng-model="goalNum.wt.wt">
                <button ng-if="stateW = 'heroku'" class="button button-clear" ng-click="updateGoal(repsChart.reps)">
                    Update
                </button>
            </div>
            <div ng-if="chartTable == 0 || chartTable == 3" class="button-bar liftSearchButtons" style="padding:0px">
                <a type="button"
                   class="button button-clear button-positive button-positive timerButtonSmall"
                   ng-class="{'active': spanSelect ==5 }"
                   ng-click="selectTimespan(5)" style="border-top:none;border-bottom:none;border-right:none;">5 wks</a>
                <a type="button"
                   class="button button-clear button-positive timerButtonSmall" ng-class="{'active': spanSelect ==10}"
                   ng-click="selectTimespan(10)" style="border-top:none;border-bottom:none;border-right:none;">10
                    wks</a>
                <a type="button button-clear timerButtonSmall ng-cloak"
                   class="button button-clear button-positive timerButtonSmall" ng-class="{'active': spanSelect ==20 }"
                   ng-click="selectTimespan(20)" style="border-top:none;border-bottom:none;border-right:none;" ng-cloak>20
                    wks</a>
                <a type="button button-clear timerButtonSmall"
                   class="button button-clear button-positive timerButtonSmall" ng-class="{'active': !spanSelect }"
                   ng-click="selectTimespan(false)"
                   style="border-top:none;border-bottom:none;border-right:none;">All</a>
            </div>
            <div class="row item" style="padding:8px;  ">
                <a class="col liftSelectEntry" style="margin-left:29%" ng-click="chartBodyWeight()" ng-if="bodyWtFlag"
                        >Chart
                    Body Weight</a>
                <a class="col chartSwitch " style="margin-left:29%" ng-click="chartBodyWeight()" ng-if="!bodyWtFlag"
                        >Chart
                    current lift</a>
            </div>
        </div>




<!--this block is hear for a mega hack to get charts to draw correctly-->
        <div ng-if="chartTable == 4" class="card ">
            <!--<div class="item item-divider color-header">-->
            <!--</div>-->
            <div class="row">
                <div class="col-40 col-offset-20">

                </div>
            </div>
            <div style="min-height:220px;">
            </div>
            <div class="item-input-wrapper">
                <input ng-submit="keyPressed($event.keyCode)" class="col col-33 col-offset-34" type="tel"
                       placeholder="Goal" maxlength="3"
                       ng-model="goalNum.wt.wt">
                <button ng-if="stateW = 'heroku'" class="button button-clear" ng-click="updateGoal(repsChart.reps)">
                    Update
                </button>
            </div>
            <div ng-if="chartTable == 4" class="button-bar liftSearchButtons" style="padding:0px">
                <a type="button"
                   class="button button-clear button-positive button-positive timerButtonSmall"
                   ng-class="{'active': spanSelect ==5 }"
                   ng-click="selectTimespan(5)" style="border-top:none;border-bottom:none;border-right:none;">5 wks</a>
                <a type="button"
                   class="button button-clear button-positive timerButtonSmall" ng-class="{'active': spanSelect ==10}"
                   ng-click="selectTimespan(10)" style="border-top:none;border-bottom:none;border-right:none;">10
                    wks</a>
                <a type="button button-clear timerButtonSmall ng-cloak"
                   class="button button-clear active button-positive timerButtonSmall"
                   ng-click="selectTimespan(20)" style="border-top:none;border-bottom:none;border-right:none;" ng-cloak>20
                    wks</a>
                <a type="button button-clear timerButtonSmall"
                   class="button button-clear button-positive timerButtonSmall" ng-class="{'active': !spanSelect }"
                   ng-click="selectTimespan(false)"
                   style="border-top:none;border-bottom:none;border-right:none;">All</a>
            </div>
            <div ng-if="chartTable == 4" class="row item" style="padding:8px;  ">
                <a class="col liftSelectEntry" style="margin-left:29%" ng-click="chartBodyWeight()" ng-if="bodyWtFlag"
                        >Chart
                    Body Weight</a>
                <a class="col chartSwitch " style="margin-left:29%" ng-click="chartBodyWeight()" ng-if="!bodyWtFlag"
                        >Chart
                    current lift</a>
            </div>
        </div>
<!--end janky block-->

        <div class="card" >
            <!--<div ng-show="chartTable == 1 || chartTable == 3" class="item item-divider color-header">-->
            <!--</div>-->
            <ion-item class="item item-remove-animate no-padding">
                <div ng-show="  (bodyWtFlag || (!bodyWtFlag && chartTable == 0 ))" class="liftNameButton">
                    <button class="liftSelectEntry button button-clear button-positive" style="float:left;"
                            ng-click="openModal()">{{liftName}}
                    </button>
                    <button class="liftSelectEntry button button-clear button-positive ng-cloak"
                            ng-click="repPopup($event)"
                            style="float:right;" ng-class="{'active':liftName == 'Select Lift'}" ng-cloak>
                        {{selectedReps}}
                    </button>
                    <!--<a class="liftSelectEntry"  ng-show="liftName != 'Select Lift'">Set Goal</a>-->
                </div>
                <div ng-show="  (!bodyWtFlag && (chartTable == 1 || chartTable == 3 ))" class="liftNameButton"
                     style="float:left;">
                    <button class="liftSelectEntry button button-clear button-positive" ng-click="openModal()">Body
                        Weight (tap to select lift)
                    </button>
                    <!--<a class="liftSelectEntry"  ng-show="liftName != 'Select Lift'">Set Goal</a>-->
                </div>
            </ion-item>
        </div>

        <!--Analytics view-->

        <div class="card" class="item item-remove-animate no-padding ng-cloak ng-hide" ng-show="chartTable == 3"
             ng-cloak>
            <ion-item>
                <a>Avg change per week:</a>

                <a style="float:right" ng-class="{'pr-color':deltaWeeks>0,'last-less-color':deltaWeeks<0}">{{deltaWeeks}}%</a>
                <a style="float:right" class="pr-color" ng-show="deltaWeeks>0">+</a>
                <a style="float:right" class="last-less-color" ng-show="deltaWeeks<0">-</a>
            </ion-item>
            <ion-item>
                <a>Avg body wt change per week:</a>
                <a style="float:right"
                   ng-class="{'pr-color':deltaBody>0,'last-less-color':deltaBody<0}">{{deltaBody}}%</a>
                <a style="float:right" class="pr-color" ng-show="deltaBody>0">+</a>
                <a style="float:right" class="last-less-color" ng-show="deltaBody<0">-</a>
            </ion-item>
            <ion-item>
                <a style="font-size:.9em;">Change in weight/Change in body weight:</a>
                <a style="float:right ;" ng-class="{'pr-color':deltaWtBody>1,'last-less-color':deltaWtBody<1}">{{deltaWtBody}}</a>
            </ion-item>
        </div>

        <div class="card" class="item item-remove-animate no-padding ng-cloak ng-hide" ng-show="chartTable == 3"
             ng-cloak>
            <ion-item>
                <a>Goal:</a>
                <a style="float:right;color:#387ef5;">{{goalNum.wt.wt || 'None'}}</a>
            </ion-item>
            <ion-item>
                <a>Last Recorded Weight:</a>
                <a style="float:right;color:#387ef5;">{{lastWt || 'None'}}</a>
            </ion-item>
            <ion-item>
                <a>Projected weeks till goal: </a>
                <a style="float:right;color:#387ef5;" ng-show="showWeeks"> wks</a>
                <a style="float:right;color:#387ef5;" ng-class="{'last-less-color':goalProject=='Never'}">{{goalProject}}&nbsp; </a>
            </ion-item>
        </div>

        <div class="card ng-cloak" ng-show="chartTable == 1 && dateWeightObjectList.length > 0"  ng-cloak>
            <ion-scroll ng-class="scrollbox" zooming="true" direction="y"
                        style="height:{{(35 * dateWeightObjectList.length) + 'px'}}; max-height: 80%;">

                <ion-list show-delete="removeFlag">
                    <ion-item ng-repeat="lift in dateWeightObjectList | reverse">

                        <a>{{lift.date}}</a>
                        <a style="float:right">{{lift.wt + " lbs"}}</a>

                    </ion-item>
                </ion-list>
        </div>

        <div class="card  ng-cloak" ng-if="chartTable == 3"  ng-cloak>
            <div class="button-bar liftSearchButtons" style="padding:0px">
                <a type="button"
                   class="button button-clear button-positive button-positive timerButtonSmall"
                   ng-class="{'active': spanSelect ==5 }"
                   ng-click="selectTimespan(5)" style="border-top:none;border-bottom:none;border-right:none;">5 wks</a>
                <a type="button"
                   class="button button-clear button-positive timerButtonSmall" ng-class="{'active': spanSelect ==10}"
                   ng-click="selectTimespan(10)" style="border-top:none;border-bottom:none;border-right:none;">10
                    wks</a>
                <a type="button button-clear timerButtonSmall"
                   class="button button-clear button-positive timerButtonSmall" ng-class="{'active': spanSelect ==20 }"
                   ng-click="selectTimespan(20)" style="border-top:none;border-bottom:none;border-right:none;">20
                    wks</a>
                <a type="button button-clear timerButtonSmall"
                   class="button button-clear button-positive timerButtonSmall" ng-class="{'active': !spanSelect }"
                   ng-click="selectTimespan(false)"
                   style="border-top:none;border-bottom:none;border-right:none;">All</a>
            </div>
        </div>

    </ion-content>
    <ion-footer-bar align-title="left" class="bar-dark tab2">
        <div class="button-bar tab2 ng-cloak" ng-cloak>
            <a ng-class="{'active': chartTable == 0 || chartTable == 4}" ng-click="changeView(0,repsChart.reps)" type="button"
               class="button icon ion-arrow-graph-up-right tab2 ng-cloak"
               style="border-top:none;border-bottom:none;border-left:none;font-size: 2.0em;" ng-cloak></a>
            <a ng-class="{'active': chartTable == 1}" ng-click="changeView( 1,repsChart.reps)" type="button"
               class="button icon ion-ios-list-outline tab2 ng-cloak"
               style="border-top:none;border-bottom:none;border-right:none;font-size: 2.0em;" ng-cloak></a>
            <a ng-class="{'active': chartTable == 3}" type="button"
               class="button icon ion-ios-lightbulb-outline ng-cloak"
               style="border-top:none;border-bottom:none;border-right:none;font-size: 2.0em;"
               ng-click="changeView(3,repsChart.reps)" ng-cloak></a>
        </div>

    </ion-footer-bar>

</ion-view>